<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="static/styles/home.css">
</head>
<body>
<div id="hero" class="hero route bg-image" style="background-image: url(https://example.com/hero-image.jpg);">
   <div class="overlay-itro"></div>
   <div class="hero-content display-table">
      <div class="table-cell">
         <h1 class="hero-title mb-4">TransparencyNow</h1>
      </div>
   </div>
<div class="container">
   <form action="#" method="post" class="search-bar">
      <input type="text" placeholder="search anything" name="search">
      <button type="submit"><img src="static/images/magnifying-glass-icon-26760.png"></button>
   </form>
</div>
</body>
</html>

