<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="static/styles/home.css">
</head>
  <div style="display: flex; justify-content: center; align-items: center; height: 10vh;">
    <h1>Policia</h1>
  </div>
<body>
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
  <script src="script.js"></script>
</body>
<body>
<div class="container">
    <form action="#" method="post" class="search-bar">
        <input type="text" placeholder="search anything" name="search">
        <button type="submit"><img src="static/images/magnifying-glass-icon-26760.png"></button>
    </form>
</div>
</body>
</html>
