<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="static/styles/home.css">
</head>
<body>
<div id="hero" class="hero route bg-image" style="background-image: url(https://example.com/hero-image.jpg);">
   <div class="overlay-itro"></div>
   <div class="hero-content display-table">
      <div class="table-cell">
         <h1 class="hero-title mb-4">Transparency Now</h1>
      </div>
   </div>
<div class="container">
   <form action="#" method="post" class="search-bar">
      <input type="text" placeholder="search anything" name="search">
      <button type="submit"><img src="static/images/magnifying-glass-icon-26760.png"></button>
   </form>
</div>
</body>

<body>
   <div>
   <p><strong>In recent years, there is a growing concern over the power that law enforcement agencies possess. There has been a spike
   of awareness and demand for police reform following the 2020 incident that involved the unlawful arrest and murder of
   Geroge Floyd by the Minneapolis Police Department. Floyd, a 46-year-old African American male, was apprehended after
   being accused of allegedly using counterfeit bills to purchase items at a convenience store. Several officers responded
   to the situation after being called in. The aftermath of this police encounter was the saddening death of Floyd caused
   by excessive force and misuse of police authority. This tragedy led to outrage in the public demanding for
   justice for Floyd and other African American victims of police brutality. Police brutality is caused by many factors
   often fueled by factors such as racial discrimination and sudden outbursts of anger. This leaves the public in a state
   of paradox where law enforcement is perceived as protecters, yet more cases of misuse of police authority are becoming
   more prominent.</strong></p>
</div>
<div>
   <p>Although African Americans cases are more publicized, they are not exclusive victims to police violence. In 2022, there
   were 1,237 cases of deaths caused by police encounters and activity. In almost all the cases, the officers were not
   charged or punished. This unaccountability makes the public question the credibility and trustworthiness of these
   enforcement agencies.</p>
   <img src="static\images\stuff.png">
</div>

<div>
   <img src="static\images\pocrep.png" width="750">

   <img src="static\images\bars.png" width="750">

   <p>Current data trends show that people of color are more prone to police enouncements and victims of unlawful police
   activity. More specifically, Black and Latino residents are often overrepresented among police fatalities when accounted
   for their population makeup.</p>
</div>



<div>
   <img src="static\images\bigmap.png" width = 1500>
</div>

<div>
   <p>It is a universal concern of the public to keep their families safe in the town they are living in. However, it is often
      difficult to stay on top of police activity and related cases in local cities. With our application, users can easily
      lookup areas and will receive information about any relevant cases.</p>
</div>
</body>

</html>

