nav {
  background-color: black;
  color: white;
  text-align: center;
}
nav ul {
    display: inline-block;
    padding: 0;
    margin: 0;
}
nav li {
  display: inline-block;
  width: 10%;
  margin: 10px;
}
nav a {
  color: white;
  text-decoration: none;
}

.container{
    width: 100%;
    min-height: 100vh;
    padding: 0%;
    background-image: linear-gradient(rgba(0,8,24,0.3),rgba(0,8,70,0.3)), url(https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}
.search-bar{
    width: 100%;
    max-width: 700px;
    background: rgba(220,220,220,0.5);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blue(4px) saturate(180%);
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #000000;
}

::placeholder{
    color: #000000;
}

.search-bar button img{
    width: 25px;
}

.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #58629b;
    cursor: pointer;
}
