.container {
    display: flex
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 0%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


.incident {
    border: 5px solid black;
    padding: 10px;
    margin-bottom: 20px;
    background: rgb(66,116,145);
    font-size: 1.2rem;
    border-radius: 10px;
}

h1 {
    text-align: center;
    font-size: 3rem;
}







